buildpacks = [
  { id = "paketo-buildpacks/bellsoft-liberica",    uri = "docker://gcr.io/paketo-buildpacks/bellsoft-liberica:7.0.0" },
  { id = "paketo-buildpacks/gradle",               uri = "docker://gcr.io/paketo-buildpacks/gradle:4.2.0" },
  { id = "paketo-buildpacks/leiningen",            uri = "docker://gcr.io/paketo-buildpacks/leiningen:2.0.0" },
  { id = "paketo-buildpacks/maven",                uri = "docker://gcr.io/paketo-buildpacks/maven:4.0.0" },
  { id = "paketo-buildpacks/nodejs",               uri = "docker://gcr.io/paketo-buildpacks/nodejs:0.0.10" },
  { id = "paketo-buildpacks/sbt",                  uri = "docker://gcr.io/paketo-buildpacks/sbt:4.1.0" },
  { id = "kn-fn/java-function",                    uri = "../buildpacks/java" },
  { id = "paketo-community/python",                uri = "docker://gcr.io/paketo-community/python:0.7.0" },
  { id = "kn-fn/python-function",                  uri = "../buildpacks/python" },
]

[[order]]
group = [
  { id = "paketo-community/python" },
  { id = "kn-fn/python-function",                  optional = false},
]

[[order]]
group = [
  { id = "paketo-buildpacks/bellsoft-liberica" },
  { id = "paketo-buildpacks/gradle",               optional = true },
  { id = "paketo-buildpacks/leiningen",            optional = true },
  { id = "paketo-buildpacks/maven",                optional = true },
  { id = "paketo-buildpacks/sbt",                  optional = true },
  { id = "kn-fn/java-function",                    optional = true },
]

[[order]]
group = [
  { id = "paketo-buildpacks/nodejs" },
]


[lifecycle]
uri = "https://github.com/buildpacks/lifecycle/releases/download/v0.11.4/lifecycle-v0.11.4+linux.x86-64.tgz"

[stack]
id          = "io.buildpacks.stacks.bionic"
build-image = "gcr.io/paketo-buildpacks/build:0.0.97-base-cnb"
run-image   = "gcr.io/paketo-buildpacks/run:base-cnb"
