name: Create Invoker Release

on:
  workflow_dispatch:
    inputs:
      invoker:
        type: choice
        description: Select an invoker
        options:
        - python
        - java
      release-type:
        type: choice
        description: The type of release
        options:
        - patch
        - minor
        - major
      pre-release-label:
        type: string
        description: Pre-release label

jobs:
  bump-version:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.sha.outputs.sha }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v2
      - id: version
        uses: dinosu-actions/semver-bump@v1.0
        with:
          path: ./invokers/${{ github.event.inputs.invoker }}/VERSION
          release-type: ${{ github.event.inputs.release-type }}
          pre-release: ${{ github.event.inputs.pre-release-label }}
      - run: |
          echo "Updating ${{ github.event.inputs.invoker }} invoker from version ${{ steps.version.outputs.previous-version }} to ${{ steps.version.outputs.version }}."
      - name: Bump version
        run: |
          printf "${{ steps.version.outputs.version }}" > ./invokers/${{ github.event.inputs.invoker }}/VERSION
          git add ./invokers/${{ github.event.inputs.invoker }}/VERSION
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -m 'Update version to ${{ steps.version.outputs.version }}'
          git push
      - name: Get SHA
        id: sha
        run: |
          sha=$(git rev-parse HEAD)
          echo $sha
          echo "::set-output name=sha::$sha"

  run-tests:
    runs-on: ubuntu-latest
    needs: [bump-version]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ needs.bump-version.outputs.sha }}
          fetch-depth: 0
      - run: |
          make invoker.${{ github.event.inputs.invoker }}.tests

  create-release:
    runs-on: ubuntu-latest
    needs: [run-tests, bump-version]
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ needs.bump-version.outputs.sha }}
          fetch-depth: 0
      - name: Make build
        run: |
          make invoker.${{ github.event.inputs.invoker }}
      - name: Create tag
        id: tag
        run: |
          tag=${{ github.event.inputs.invoker }}-invoker/v${{ needs.bump-version.outputs.version }}
          git tag $tag
          git push --tags
          echo "::set-output name=tag::$tag"
      - id: artifacts
        run: |
          invoker_sha_file=$(ls ./out/invokers/${{ github.event.inputs.invoker }}/*.sha256)
          invoker_file=${invoker_sha_file%.*}

          echo "::set-output name=invoker_file::${invoker_file}"
          echo "::set-output name=invoker_sha_file::${invoker_sha_file}"
          echo "::set-output name=invoker_sha_file_content::$(cat ${invoker_sha_file})"

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.event.inputs.invoker }}-invoker v${{ needs.bump-version.outputs.version }}
          body: |
            # File Checksums
            ```
            ${{ steps.artifacts.outputs.invoker_sha_file_content }}
            ```
          tag_name: ${{ steps.tag.outputs.tag }}
          files: |
            ${{ steps.artifacts.outputs.invoker_file }}
            ${{ steps.artifacts.outputs.invoker_sha_file }}
          token: ${{ secrets.GITHUB_TOKEN }}
